

/*-------Background color--------*/

body {
  background-color:white;
  background-image:none;
}

div.titlediv {
  background-color: white;
  height: 100%;
  margin-top: 15%;
}

div.bodydiv {
  background-color: white;
  height: 100%;
  /* Create parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

/*--------Begin Nav Bar (Double check that it is all being used)-------------*/
/*---nav bar container----*/
nav.main ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: rgba(79, 84, 91, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
/*---list containing nav bar items---*/
nav.main li {
  float: left;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding-top: 0;
  border-top: 0;
}
/*---content of nav bar list----*/

nav.main li a.img {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 0;
  border-top: 0;
  display: block;
  padding-right: 1%;
  padding-left: 1%;
  line-height: auto;

  text-align: center;
}

nav.main li a {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 0;
  border-top: 0;
  display: block;
  padding-right: 1%;
  padding-left: 1%;
  line-height: auto;

  text-align: center;
  text-decoration: none;
  color: rgb(47, 150, 19);
  font-size: 30px;
  font-family: "San Francisco";
}

/*---------Hover color changing----------*/

nav.main li img {
    width: 40%;
    height: auto;
}

li a:hover {
  color: silver;
  transition: 0.4s;
}
nav.main li a:hover{
  color: silver;
}
nav.main li a.active {
  color: lightgray;
}
/*------------End All Nav Bar Stuff----------------*/

/*----------Varsity team stuff index-----------*/
figure img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: 0%;
  margin-right: 5%;
}

figure figcaption.varsityTeam {
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: "San Francisco";
  font-size: 25px

}

/*--------end index pic stuff------*/

/*---------Coach Boxes----------*/
div.Landis {
  font-size:18px;
  background: rgb(96, 155, 91);
  font-family: "San Francisco";
  color: black;
  float: center;
  display: block;
  padding-top: auto;
  padding-bottom: auto;
  text-align: left;
}

.Landis img {
  text-align: center;
}
div.Barker {
  font-size:18px;
  background: rgb(96, 155, 91);
  font-family: "San Francisco";
  color: black;
  float: center;
  display: block;
  padding-bottom: 1%;
  text-align: left;
}

div.Murrell {
  font-size:18px;
  background: rgb(96, 155, 91);
  font-family: "San Francisco";
  color: black;
  float: center;
  display: block;
  padding-top: auto;
  padding-bottom: auto;
  text-align: left;
}

div.Carpenter {
  font-size:18px;
  background: rgb(96, 155, 91);
  font-family: "San Francisco";
  color: black;
  float: center;
  display: block;
  padding-top: auto;
  padding-bottom: 0.75%;
  text-align: left;
}

div.events {
  margin-left: 10%;
  margin-right: 0%;
  height: 100%;
  width: 60%;
  font-size: 15px;
  background: rgb(96, 155, 91);
  font-family: "San Francisco";
  color: black;
  display: block;
  text-align: center;
}

div.events ul{
  list-style-type: none;
  width: 75%;
}

p.indextitle {
  padding-top: 0%;
  padding-bottom: 0%;
  font-size: 100px;
  font-family: 'Graduate', cursive;
  text-align: center;
  color: rgb(0, 136, 55);
  font-weight: bold;
}

p.title {
  padding-top: 3%;
  padding-bottom: 0%;
  font-size: 100px;
  font-family: 'Graduate';
  text-align: center;
  color: rgb(0, 136, 55);
  font-weight: bold;
}

p.booter {
  font-size:30px;
  background: rgb(74,74,74);
  font-family: "San Francisco";
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 67%;
}

p.events {
  padding-top: 10px;
  margin-left: auto;
  font-size: 20px;
}

/*---- stuff for slideshow ----*/
div.w3-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: none;
  z-index: 0;
}

img.mySlides {
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%
}

button.w3-button {
  position: fixed;
}
/* - - - end slideshow- - - */

/*Footer*/

div.footer-main {
  width: 99%;
  height: 100%;
  background-color: rgb(96, 155, 91);
  font-size:18px;
  background: rgb(96, 155, 91);
  font-family: "San Francisco";
  color: black;
  float: left;
  display: inline;
  padding-top: .5%;
  padding-bottom: .5%;
  padding-left: .5%;
  padding-right: .5%;
  text-align: left;
}

div.foot-seg p, h4, a, a:visited{
  display: inline;
  color: black;
  font-family: "San Francisco";
  width: auto;
  padding-right: 0.5%;
}

div.foot-seg {
  display: inline;
  float: right;
  width: 50%;
}

div.foot-social{
  display: inline;
  float: left;
  width: 50%
}
table{
  width: 100%;
  text-align: center;
  border-spacing: inherit;
}

table th{
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
}

table, th {
    border: 1px solid black;
}

table#jv2 th{
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5%;
}

div.separatebox{
    font-size:18px;
    background: rgb(96, 155, 91);
    font-family: "San Francisco";
    color: black;
    float: center;
    display: block;
    padding-top: auto;
    padding-bottom: auto;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
  }
}

div.separatebox p.coach_text{
  font-size: 20px;
  padding-left: 1%;
  padding-right: 1%;
}

/*---------------drop down menu stuff-------------*/

.dropdowncontentdiv {
  position: relative;
  display: inline-block;
}

.dropdowncontentli {
  position: relative;
  display: inline-block;
  display: inline-block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdowncontentli a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav.main .dropli {
  float: right;
  width: 25%;
  margin-right: 10%;
}

.dropdownbutton {
  display: block;
  float: right;
  background-color: rgba(79, 84, 91, 0);
  outline: none;
  border-style: none;
  height: 75px;
  width: 75px;
}

nav.main .dropdowndiv {
  display: block;
  float: right;
}

.activedrop {
  color: lightgrey;
}

.dropdowncontentli a:hover {background-color: #ddd}

.show {display: block;}

/*---------------end drop down menu stuff-------------*/




/*-----------------Resizing the contents----------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav.main li a{
    display: none;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 20px;
  }
  nav.main li button.dropdownbutton {
    height: 75px;
    width: 75px;
  }
  nav.main div.dropdowndiv {
    height: 10%;
    width: 10%;
    display: inline-block;
    float: right;
    display: contents;
    z-index: 1001;
  }
  table {
    font-size: 8px;
  }
  .column {
      width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  nav.main li a{
    display: none;
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;

  }
  nav.main li button.dropdownbutton {
    height: 75px;
    width: 75px;
  }
  nav.main div.dropdowndiv {
    height: 10%;
    width: 10%;
    display: inline-block;
    float: right;
    display: contents;
    z-index: 1001;
  }
  table {
    font-size: 8px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 850px) {
  nav.main li a{
    display: block;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 30px;
  }
  nav.main div.dropdowndiv {
    display: none;
  }
  table {
    font-size: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1100px) {
  nav.main li a{
    font-size: 25px;
    padding-right: 40px;
    padding-left: 40px;
  }
  table {
    font-size: 12px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1300px) {
  nav.main li a{
    font-size: 30px;
    padding-right: 50px;
    padding-left: 50px;
  }
  table {
    font-size: 15px;
  }
}

/*-------adding san franciso (apple) font to website---------*/
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
/*--------------Code for box layout-----------------*/

article.OneCoach {
    float: left;
    width: 49.6%;
    background-color: none;
    height: auto;
    padding: 0.2%;
    padding-bottom: auto;
}


/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/*--------------End green box misc-----------------*/

/*--------------Social Media--------------*/
.fa {
  float: left;
  display: inline;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*--------------End Social Media--------------*/
